<div class="container border">
<favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>
</div>

<br>

<div class="container border">
<app-example></app-example>
</div>

<br>

<div class="container border">
  <app-bootstrap-panel >
   <ng-container class="heading">
        Heading
   </ng-container>
    <div class="body">
      <h2>This is the body</h2>
      <p>
        this is the content
      </p>
    </div>
  </app-bootstrap-panel>
</div>

<br>

<div class="container border">
  <app-like></app-like>
</div>

<br>

<div class="container border">
  <app-mosh-likes-sollution
    [likesCount]="tweet.likesCount"
    [isLiked]="tweet.isLiked"
  ></app-mosh-likes-sollution>
</div>
<br>

<div class="container border">
  <app-else-if></app-else-if>
</div>
<br>

<div class="container border">
  <app-ng-switch-case></app-ng-switch-case>
</div>
<br>

<div class="container border">
  <app-ng-for-loops
  [coursesForLoops]="coursesData"
  ></app-ng-for-loops>
</div>
<br>

<div class="container border">
  <app-ng-for-loops-and-track-by></app-ng-for-loops-and-track-by>
</div>
<br>

<div class="container border">
  <app-ng-classes></app-ng-classes>
</div>
<br>

<div class="container border">
  <app-ng-styles></app-ng-styles>
</div>
<br>

<div class="container border">
  <app-safe-traversal-operator></app-safe-traversal-operator>
</div>
<br>

<div class="container border">
  <app-creating-custom-directives></app-creating-custom-directives>
</div>
<br>

<div class="container border">
  <app-zippy-excersise></app-zippy-excersise>
</div>
<br>

<div class="container border">
  <contact-form ></contact-form>
</div>
<br>

<div class="container border">
  <app-course-form ></app-course-form>
</div>
<br>


<div class="container border">
  <app-new-course-form-sollution></app-new-course-form-sollution>
</div>
<br>


<div class="container border">
  <signup-form></signup-form>
</div>
<br>

<div class="container border">
  <app-new-course></app-new-course>
</div>
<br>


<div class="container border">
  <app-change-password-form></app-change-password-form>
</div>
<br>

<div class="container border">
  <app-posts></app-posts>
</div>
<br>

<div class="container border">
  <app-github-followers></app-github-followers>
</div>
<br>
